extends layout

block content
    h1 404
    img(src='https://cdn1.iconfinder.com/data/icons/web-development-and-programming/64/programming_development_Not_Found-128.png')
    h1= message
    h2= error.status
    pre #{error.stack}