doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav(class='nav-pan')
            h1 It's Nav
            ul
                li
                    a(href='/main') Main
                li
                    a(href='/contacts') Contacts
                li
                    a(href='/about') About
        //h1= title
        //p Welcome to #{title}
        //img(src='https://cdn4.iconfinder.com/data/icons/characters-from-pop-culture/100/Buddha-128.png')