doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    aside
      h1 It's aside

    nav(class='nav-pan')
      h1 It's Nav
      ul
        li
          a(href='/main') Main
        li
          a(href='/contacts') Contacts
        li
          a(href='/about') About



    block content



    footer
      h1 It's footer
